@tailwind base;
@tailwind components;
@tailwind utilities;

.img-login {
  background-image: url("/assets/images/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stepbar {
  left: 3.4rem;
  z-index: -1;
}

@media screen and (max-width: 382px){
  .stepbar {
    left: 2.4rem;
  }
}